* {padding:0; margin:0;}
.carousel-wrap {overflow:hidden; position:relative; width:808px;}
.carousel-wrap .button-control {display:block; position:absolute; top:105px; padding:10px; border:0; background-color:transparent; cursor:pointer;}
.carousel-wrap .button-control:hover {color:#fff; background-color:rgba(0,0,0,.3);}
.carousel-wrap .button-prev {left:0;}
.carousel-wrap .button-next {right:0;}
.carousel-view {overflow:hidden; position:relative; width:808px; height:240px; margin-bottom:3px;}
.carousel-view-container {overflow:hidden; position:relative; width:100%; height:240px;}
.carousel-view .item {overflow:hidden; position:relative; float:left; width:100%; height:240px; text-align:center; line-height:240px;}
.carousel-view .item.item1 {background-color:#f8f9fa;}
.carousel-view .item.item2 {background-color:#f1f3f5;}
.carousel-view .item.item3 {background-color:#e9ecef;}
.carousel-view .item.item4 {background-color:#dee2e6;}
.carousel-view .item.item5 {background-color:#ced4da;}
.carousel-view .item.item7 {background-color:#adb5bd;}
.carousel-view .item.item8 {background-color:#868e96;}
.carousel-view .item.item10 {background-color:#495057;}
.carousel-view .item.item11 {background-color:#343a40;}
.carousel-view .item.item12 {background-color:#212529;}
.carousel-view .item.item13 {background-color:#fff4e6;}
.carousel-view .item.item14 {background-color:#ffe8cc;}
.carousel-view .item.item15 {background-color:#ffd8a8;}
.carousel-view .item.item16 {background-color:#ffc078;}
.carousel-nav {overflow:hidden; position:relative; width:100%; height:60px;}
.carousel-nav.nowrap {overflow-y:auto;}
.carousel-nav ul {overflow:hidden; position:relative; width:100%;}
.carousel-nav ul li {float:left; overflow:hidden; position:relative; width:60px; height:60px; margin-right:3px; background-color:#888; font-size:0;}
.carousel-nav ul li button {display:block; width:60px; height:60px; border:0; background-color:transparent; vertical-align:top; box-sizing:border-box; cursor:pointer;}
.carousel-nav ul li button.active {border:3px solid #00AEF0;}